<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monaco Editor Example with VSCode UI Toolkit</title>
  <link rel="stylesheet" href="https://esm.sh/monaco-editor@0.31.1/min/vs/editor/editor.main.css">
  <script type="module" src="https://esm.sh/@vscode/webview-ui-toolkit@1.1.0/dist/toolkit.js"></script>
  <style>
    #container {
      width: 100%;
      height: 600px;
      border: 1px solid grey;
      margin-top: 20px;
    }

    #controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <div id="controls">
    <vscode-button id="runButton">Run</vscode-button>
    <vscode-dropdown id="themeDropdown">
      <vscode-option value="vs">Light</vscode-option>
      <vscode-option value="vs-dark" selected>Dark</vscode-option>
      <vscode-option value="hc-black">High Contrast</vscode-option>
    </vscode-dropdown>
  </div>
  <div id="container"></div>
  <script type="module">
    import * as monaco from 'https://esm.sh/monaco-editor';
    // https://www.npmjs.com/package/@types/vscode-webview
    // https://github.com/GoogleChromeLabs/comlink?tab=readme-ov-file
    const vscode = acquireVsCodeApi();
    vscode.postMessage({
      command: 'alert',
      text: '🐛  on line ' + 1
    });

    console.log(vscode.getState());

    window.addEventListener('message', event => {
      console.log('Received message:', event);
    });

    const editor = monaco.editor.create(document.getElementById('container'), {
      value: [
        'function helloWorld() {',
        '\tconsole.log("Hello, world!");',
        '}'
      ].join('\n'),
      language: 'csharp',
      theme: 'vs-dark',
      automaticLayout: true,
      // disable minimap
      minimap: { enabled: false }
    });

    document.getElementById('runButton').addEventListener('click', () => {
      const code = editor.getValue();
      console.log('Running code:', code);
      eval(code);
      // Add logic to execute the code or process it as needed
    });

    document.getElementById('themeDropdown').addEventListener('vsc-change', (event) => {
      const theme = event.target.value;
      monaco.editor.setTheme(theme);
    });
  </script>
</body>

</html>